<%= render 'users/profile', user: @user %>
<<%= render 'books/new', book: @book_new %>


  <div class="col-lg-9">
    <h1>Books</h1>
    <table class="table">
      <tbody>
        <tr>
          <td>
          <%= link_to (attachment_image_tag @book.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg"),user_path(@user) %>
          <%= @book.user.name %>
          </td>
          <td>
          <%= link_to @book.title,book_path(@book) %>
          </td>
          <td>
          <%= @book.body %>
          </td>
          <% if current_user.id == @book.user_id %>
          <td><%= link_to "Edit", {controller: 'books', action: 'edit'}, {method: :get, class: "mybutton"} %></td>
          <td><%= link_to "Destroy", {controller: 'books', action: 'destroy'}, {method: :delete,  "data-confirm" => "本当に削除しますか？",class: "mybutton"} %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>

  </div>
</div>